body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.text-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

.highlighted-like {
    background-color: rgba(255,255,0, 1);
    display: inline;
    cursor: pointer;
}
.highlighted-dislike {
    background-color: red;
    display: inline;
    cursor: pointer;
}

.reactions {
    margin-top: 10px;
}

.reaction-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

.liked {
    background-color: white !important;
}
